<ul id="chat-messages" class="list-unstyled" data-number="{{ nbMessage }}">
	{% for message in messages %}
		{# TODO add a separator for the dates to not put them in display directly #}
		{% if message.author == app.user %}
			<li class="right clearfix">
				<span class="float-left">
					<img class="rounded-circle" src="{{ asset(vich_uploader_asset(message.author.profilePic, "imageFile")|imagine_filter('userNavbar')) }}">
				</span>
				<div class="chat-body text-right clearfix">
					<div class="header">
						<strong>{{ message.author.username }}</strong>
						<small class="float-left text-muted">
							<span class="far fa-clock"/>
							{{ message.date|localizeddate('none', 'short', app.request.locale) }}
						</small>
					</div>
					<p>
						{{ message.content }}
					</p>
				</div>
			</li>
		{% else %}
			<li class="left clearfix">
				<span class="float-right">
					<img class="rounded-circle" src="{{ asset(vich_uploader_asset(message.author.profilePic, "imageFile")|imagine_filter('userNavbar')) }}">
				</span>
				<div class="chat-body text-left clearfix">
					<div class="header">
						<strong>{{ message.author.username }}</strong>
						<small class="float-right text-muted">
							<span class="far fa-clock"/>
							{{ message.date|localizeddate('none', 'short', app.request.locale) }}
						</small>
					</div>
					<p>
						{{ message.content }}
					</p>
				</div>
			</li>
		{% endif %}
	{% endfor %}
</ul>
