<small>
	<div id="chat" class="card border-primary">
		<div class="card-header text-primary" id="accordion">
			<div class="clearfix">
				<span class="fas fa-comment"> {{ 'chat.title'|trans }}</span>
				<a id="chevron" class="float-right" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					<span class="fa fa-chevron-up"/>
				</a>
			</div>
		</div>
		<div class="collapse" id="collapseOne">
			<div id="chatwindow" class="card-body">
				{{ render(controller('App\\Controller\\ChatController::list')) }}
				<img id="loading-down" class="loader" src="{{ asset('image/default/loading.svg') }}" alt="loading">
			</div>
			<div class="card-footer">
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					{{ form_start(form) }}
						<div class="input-group">
							{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
							<span class="input-group-btn">
								<input id="chat-submit" class="btn btn-success ml-1" type="submit" value="{{ 'chat.send'|trans }}"/>
							</span>
						</div>
						{{ form_rest(form) }}

					{{ form_end(form) }}
				{% else %}
					<div class="container text-center">
						<a href="{{path('login') }}" class="btn btn-primary">{{ 'login.login'|trans }}</a>
					</div>
				{% endif %}
			</div>
		<div>
	</div>
</small>

<script type="text/javascript">
	var updateInterval = {{ chat_update_interval }};
	
</script>
