<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% block title %}
			{{ 'base.title'|trans }}
			{% endblock %}
		</title>

		{% block stylesheets %}
			<link rel="shortcut icon" type="image/png" href="{{ asset('image/default/favicon.png')|imagine_filter('favicon') }}"/>
			
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>

	

	<body class="bg-light pt-0">
		

		<h1> JE SUIS LAAAAAAA </h1>

		

		{% block javascripts %}
			<script type="text/javascript">
				var Locale = "{{ app.request.locale }}";
			</script>

			{# wait for the dev to modernise their bundle #}
			<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
			<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</body>
</html>
